# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy & coverage
.mypy_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# MinIO or temp data
*.ndjson
*.parquet
data/
scraped_data/

# Python dependency management
pip-log.txt
requirements.lock

# Others
.idea/
test/

